.intro {
  font-weight: bold;
  font-style: oblique;
  color: blue
}
img {
  display: block;
  width: 50%;
  height: auto;
}
.container {
  margin: 0px;
  padding: 0px;
}
h1{
  color: inherit;
  font-style: red;
}
.intro {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  float: inherit;
  background-color: rgba(255, 0, 0, 0.2);
}
.right {
  position: relative;
  right: 30px;
  width: 300px;
  border: 3px solid red;
  padding: 10px;
  width: 50%
  float:right;
  background-color: rgba(128, 0, 0, 0.2);
}
.left {
  position: absolute;
  right: 30px;
  width: 300px;
  border: 3px solid red;
  padding: 10px;
  width: 50%
  float:right
  background-color: rgba(, 0, 0, 0.2);
}
body {
  background image: image2.jpg;
}
